.container
  .row
    .col.s12.l8
      - @articles.each do |article|
        = render partial: "article", locals: {article: article}
    = render partial: "layouts/sidebar"

    .col.s12
      = paginate(@articles)
