.row.form
  .input-field.col.s10
    = form_for @article, url: blogs_path, method: :post do |f|
      = f.label :"本文"
      = f.text_area :text, wrap: "hard", id: "textarea", class: "materialize-textarea"
      = button_tag type: "submit", class: "btn-small blue accent-3 submit-margin" do
        送信
