.container
  .row
    .col.s12.l9
      - @articles.each do |article|
        = render partial: "/blogs/article", locals: {article: article}
    = render partial: "layouts/sidebar"
    
    .col.s12
      = paginate(@articles)