.no-padding{
  padding-bottom: 0px !important;
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}

.container{
    padding: 50px 0 50px;
    width: 95% !important;
    word-wrap: break-word;

  .article{
    margin: 0 auto 70px;
    font-size: 20px;
    padding: 0 5px ;
    .title{
      border-bottom: 1px solid #eee;
      padding: 3px 0;
      font-size: 22px;
    }
    .category{
      &__maker{
        display: inline-block;
        font-size: 12px;
        background: #e3f2fd;
        padding: 3px 5px;
        margin: 0px 3px 3px;
        border-radius: 5px;
      }

      &__displacemenet{
        @extend .category__maker;
        background: #fce4ec; 
      }

      &__type{
        @extend .category__maker;
        background: #f5f5f5;
      }
    }
    .text{
      padding: 20px 10px;
    }

    .images{
      padding-left: 50px;
      .card__image{
        margin: 10px 0 15px;
      }
    }
  }

  .card-action{
    &__name{
      position: relative;
      float: right;
      margin-top: 10px;
      font-size: 16px;
      .like-text{
        display: inline;
        color: grey;
      }
      .like{
        display: inline;
        color: grey;
      }
      .liked{
        color: red;
      }
      a{
        color: #039be5 !important;
        &:hover{
          opacity: 0.6;
        }
      }
    }
  }

  .paginate{
    text-align: center;
  }

}