.container{
    padding: 50px 0 50px;
    word-wrap: break-word;
  
  .card{
    margin: 0 auto;
    width: 90%;
    .images{
      background: red;
      padding: 0 40px;
      .card__image{
        margin-top: 24px;
        margin-right: 30px;
        width:320px;
        max-width: 100%;
        height: 240px;
      }
    }
  }

  .card-action{
    &__name{
      float: right;
      padding-top: 10px;
      font-size: 16px;
    }
  }

  .paginate{
    text-align: center;
  }

}