.no-padding{
  padding-bottom: 0px !important;
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}

.container{
    padding: 50px 0 50px;
    word-wrap: break-word;

  .card{
    margin: 0 auto;
    font-size: 16px;
    .title{
      border-bottom: 1px solid #eee;
      padding: 3px 0;
      font-size: 18px;
    }
    .text{
      padding: 20px 0;
    }

    .images{
      padding-left: 50px;
      .card__image{
        margin: 10px 0 15px;
      }
    }
  }

  .card-action{
    &__name{
      position: relative;
      float: right;
      margin-top: 10px;
      font-size: 16px;
      .like-text{
        display: inline;
        color: grey;
      }
      .like{
        display: inline;
        color: grey;
      }
      .liked{
        color: red;
      }
    }
  }

  .paginate{
    text-align: center;
  }

}