//application.html.erbのCSS//

.nav-wrapper {
  padding: 0 50px ;
}


//deviseのCSS//

.submit-margin{
  margin: 20px 0;
  position: relative;
}

.content-row{
  width: 330px;
  height: 500px;
  margin: 110px auto;
  position: relative;
}

.contents{
  padding: 35px 30px 40px;

}

.signup-title{
  padding: 21px 0;
  font-size: 30px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.input-field{
  width: 80%;
  margin-bottom: 40px;
  
}

.signup-absolute{
  position: absolute;
  text-align: left;
}


#textarea{
  height: 100px;
}
