.notification {
  color: #fff;
  text-align: center;
  opacity: 0.7;
    .notice {
    height: 100%;
    background-color: #9e9e9e;
  }

  .alert {
    height: 100%;
    background-color: #9e9e9e;
  }
}