.notification {
  color: #fff;
  text-align: center;
  opacity: 0.9;
    .notice {
    height: 100%;
    background-color: #42a5f5 ;
  }

  .alert {
    height: 100%;
    background-color: #f57c00   ;
  }
}