.sidebar{
  font-size: 18px !important;
  padding: 0px 16px !important;
  word-wrap: break-word;

  .card{
    padding: 20px !important;
    .search-form{
      box-sizing: border-box;
      background: #ffffff !important;
      border-radius: 3px !important;
      border: solid 1px #e0e0e0 !important;
      padding:  10px 10px !important;
      margin-bottom: 30px !important;
      height: 35px !important;
      font-size: 16px;
      word-wrap: break-word;

    }

    label{
      display: inline-block;
      margin-bottom: 10px;
      width: 38%;
      font-size: 15px;
      color: black;
      font-weight: 400;
      cursor: pointer;
    }
    &__user{
      font-weight: bold;
      margin-bottom: 30px;
      padding-bottom: 5px;
      border-bottom: 2px solid #0d0047;
    }
    .title{
      position: relative;
      padding-bottom: 5px;
      border-bottom: 2px solid #0d0047;
      font-weight: bold;    }

    span{
      position: absolute;
      margin-left: 5px;
    }
  
    &__maker{
      &-list{
        display: inline-block;
        margin: 5px 0 15px;
      }
    }
    &__displacement{
      &-list{
        @extend .card__maker-list;
      }
    }
    &__type{
      &-list{
        @extend .card__maker-list;
      }
    }    
    .search-buttons{
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid #e0e0e0;
      height: 80px;
      &__reset{
        width: 45%;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }
  
      &__submit{
        @extend .search-buttons__reset;
        background: #ea352d;
        border: 1px solid #ea352d;
      }
    }

    &__ranking{
      margin: 30px 0 ;

      .ranking-title{
        position: relative;
        border-bottom: 2px solid #0d0047;
        font-weight: bold;
        margin-bottom: 30px;
        padding-bottom: 5px;
        span{
          position: absolute;
      }


      }
      .rankingbox{
        display: flex;
        border-bottom: 1px solid #e0e0e0;
        padding: 10px 0;
        
        &__number{
          background-color: #d7dbe2;
          color: #3b3e45;
          border-radius: 20px;
          padding-top: 1px;
          margin-right: 10px;
          width: 35px;
          height: 30px;
          text-align: center;

          
        }
        &__image{
          padding-top: 3px;
          font-size: 16px;
          color: black !important;
          .like{
            position: relative;
            display: block;
            color: #ea352d;
            &__count{
              position: absolute;
              top: 2px;
              left: 30px;
    
            }
          }
          &:hover{
            opacity: 0.7;
          }
          .thumbs{
            width:100%;
          }
        }
      }
    }
  }


}